* {
  margin: 0;
  padding: 0;
}

div.chapter {
  float: left;
}

tbody tr td:nth-of-type(1) {
  text-align:center;
}

tbody tr td:nth-of-type(2) {
  font-size: 14px;
  font-family: sans-serif;
}

.vanished {
  color:gray;
}
.pre {
  white-space: pre;
}

